h1 {
    text-align: center;
    color: #006600;
}
#td {
    color: #0000FF;
}
h2 {
    text-align: center;
    color:#FF3399;
    background:#FECFFD"
}
div {
    text-align: center;
    background: #FFFFCC;
}
#p1{
    color: #0000FF;
}
hr{
    width: 20%;
}
#p2{
    color: #FF3399;
}
#p3{
    color: #006600;
}