html{
	border: 5px black solid;
}
header{
	padding: 20px;
}
* {
    margin: 0;
    padding: 0;
}
#body{
	margin: 0 auto;
	width: 90%;
	font-size:20px;
}
a{
	color:blue;
}
logo {
	height:20%;
	width:100%;
}
a:hover{
	color:red;
}

#div1{
	height: 75px;
}
#div1 input{
	float: right;
	margin: 10px 10px 10px 0;
	font-size:18px;
	font-weight: bold;
	color:white;
	background: gray;
	border-radius: 10px;
	padding: 10px 15px;
}
#div2{
	float:both;
	height: 50px;
}
#div2 #p1{
	float:left;
	margin: 10px;
}
#div2 #p2{
	float:right;
	margin: 10px;
}
#div2 #p2  a{
	text-decoration: none;
}

/* Section */
section header {
	border: 1px black solid;
	background: gray;
}
section header span{
	color: white;
	font-weight:900;
}
section header span a{
	display: inline-block;
	color: white;
	font-weight: 700;
	text-decoration: none;
	margin: 10px;
}
section > div{
	margin: 10px;
}
section nav{
	float:left;
	width:67%;
	
}
.tenmuc{
	color:#8A8A8A;
	font-weight:bold;
	font-size:25px;
	margin-bottom:0;
	padding:0;
}
section hr{
	margin: 0;
	padding: 0;
}
section nav iframe{
	float:left;
	width:240px;
	height:135px;
	margin: 10px 0;
	border-radius: 10px;
}
section nav > div:first-of-type{
	float:right;
	width: 280px;
	
}
section nav > div:first-of-type p{
	margin:0;
	padding: 0;
	font-weight:bold;
	color:blue;
	
}
section nav div:nth-of-type(2){
	clear: both;
	border:1px black solid;
	background:#E5E1E1;
	text-align: center;
}
section  a{
	text-decoration: none;
	
}
section nav > div:nth-of-type(2) img{
	height: 42px;
	margin: 6px 6px 0px 6px;
}
section nav > div:nth-of-type(3) p{
	margin: 15px;
}
section nav > div:nth-of-type(3) hr{
	border:1px dotted;
}
section nav > a{
	width:100%;
}
section nav > a div{
	background: url("../h7.png") center center;
	background-size:cover;
	width:100%;
	height: 100px;
	border: 1px black solid;
}
section aside{
	float:right;
	width:30%;
}
section aside > div:first-of-type{
	margin: 0 10px;
	padding: 0;
}
section aside  a label{
	font-size:10px;
	vertical-align: middle;
}
section aside > a > img{
	width:100%;
	border-radius: 10px;
}
/* Footer */
footer{
	height: 100px;
	clear: both;
	color:gray;
	border-top: 1px black solid;
}
footer div:first-child{
	float:left;
	margin: 10px;
}
footer span{
	color:black;
}
footer div:last-child{
	float:right;
	text-align: right;
	margin: 10px;
}
footer div:last-child p{
	margin: 0;
	padding: 0;
	text-decoration: none;
}
footer div:last-child p a{
	text-decoration: none;
}